#faq__content > .accordion__item label,#faq__wrapper > .accordion__item:last-of-type,
#faq__content > .accordion__item:last-of-type {
  border-bottom: none;
}
#faq__wrapper .accordion__content-wrapper {
  padding: 0;
}

#faq__wrapper .faq_content_text {
  padding-left:40px;
  padding-right:10px;
}
