@import '../../../../src/main/resources/static/node_modules/global-css/src/sass/components/_variables.scss';

.fulfillment__message {
  padding: 10px 0;
}
@media (min-width: $screen-xs) {
  .fulfillment__message {
    padding: 0;
    padding-left: 34px;
    margin-bottom: $space-standard;
  }
  .fulfillment__message--card {
    padding: 0;
    margin-bottom: $space-standard;
  }
  .fulfillment .radio-btn__content-wrapper {
    margin-bottom: $space-standard;
  }
  .fulfillment .radio-btn__content-wrapper ~ .fulfillment__message {
    margin-top: -10px;
  }
  .m-right-xlarge {
    margin-right: 30px;
  }
  .fulfillment__content-wrapper {
    margin-bottom: 10px;
  }
}

.haulaway-title {
  background-image: url('/mycart/assets/svg/HaulAway.svg');
  background-repeat: no-repeat;
  background-size: 78%;
  height: 45px;
  width: 45px;
}

.express-delivery {
  background-image: url('/mycart/assets/svg/ExpressDelivery.svg');
  background-repeat: no-repeat;
  background-size: 78%;
  height: 45px;
  width: 45px;
}

.card {
	position: relative;
  padding: 10px;
  width: auto;
  min-height: 83px;
}

.card-enabled {
  cursor: pointer;
  transition: all .2s ease-in-out;
  &:hover, &:focus {
    box-shadow: 0 4px 9px 0 $light, 0 3px 10px 0 $light;
    transform: translateY(-2px);
  }
}

.card-unselected {
  border: 1px solid $light;
  padding: 10px 3px;
  min-height: 80px;
}

.card-selected {
  height: auto;
  padding: 10px 3px;
  min-height: 82px;
  border: 1px solid $brand;
}

.card-messaging-bottom {
  position: absolute;
  bottom: 5px;
}

.padding-fit {
  padding: 4px;
}

.card-deck {
  flex-flow: row wrap;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  justify-content: center;
}

.card-container {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  min-width: 0;
  word-wrap: break-word;
  background-color: #fff;
  background-clip: border-box;
  -webkit-box-flex: 1;
  -ms-flex: 1 0 0%;
  flex: 1 0 0%;
}

.card-selected::before {
  content: "";
  position: absolute;
  top: -1px;
  right: -1px;
  border-width: 30px 0px 0px 30px;
  border-style: solid;
  border-color: #F96302 #F96302 transparent transparent;
}

.card-selected::after {
  content: url(/mycart/node_modules/global-css/src/images/alert-check-white.svg);
  position: absolute;
  top: -4px;
  right: -4px;
  transform: scale(0.6);
  z-index: 1;
}

.free-text-font {
  font-size: $font-size-base;
}

.justify-content--center {
  justify-content: center;
}

.mobile--margin-right {
  margin-right: 10px;
}

@media (max-width: 330px) {
  .mobile--margin-right {
    margin-right: 7px;
  }
}