@import '../../../../src/main/resources/static/node_modules/global-css/src/sass/components/_variables.scss';
@import '../../../../src/main/resources/static/node_modules/global-css/src/sass/mixins/_grid-mixin.scss';
@import '../../../../src/main/resources/static/node_modules/global-css/src/sass/mixins/_flexbox-mixin.scss';
@import '../../../../src/main/resources/static/node_modules/global-css/src/sass/components/_pre-loaders.scss';
@import '../../../../node_modules/thd-overlay/sass/_thd-overlay';

.u__bold {
  font-family: 'helvetica-neue-bold', Helvetica Neue, Helvetica, Arial, sans-serif;
}

// @TODO
// overriding this from global so nested grids
// will algin, need to talk to Scott about this
// removed the [class*='col__'] > .grid
.grid--aligned {
  margin-left: -10px;
  margin-right: -10px;
  width: auto;
}

// global css styles the article tag
article {
  margin: 0;
  padding: 0;
}

// Overriding from Mobile _master.scss
// Caused issues with Bing Maps
.grid .medium {
  font-size: inherit;
}

.paypal img {
  width: 125px;
}

body {
  min-width: 100%;
}
article {
  // margin: 10px auto;
}
@media (min-width: $screen-xs) {
  article {
    // margin-top: $space-jumbo;
  }
}

// #147891165 removing mystore on mobile
#myStoreMobile {
  display: none;
}

.MyStore__down-icon {
  display: none;
}
// end #147891165

input[type='number']::-webkit-inner-spin-button,
input[type='number']::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.message__text {
  margin-bottom: $space-standard;
}
.message__text--noSpace {
  margin-bottom: 0;
}
.message__text--blue{
  background: #3e7697;
  color: #ffffff;
}

// *-----------------------------------------------
// Start Cart Image Component

.cartImage {
  position: relative;
  text-align: center;
  display: inline-block;
}

// Component Elements
.cartImage__badge {
  padding: 3px;
  background-color: $brand;
  color: white;
  text-transform: uppercase;
  font-family: $bold;
  font-size: $legal;
  position: relative;
  z-index: 1;
  top: 30px;
  left: -30px;
}
.cartImage__image {
  margin: 0 auto;
  display: block;
  width: auto;
  max-height: 100px;
  max-width: 100%;
}
.listItem .cartImage__image {
  margin: 0 auto;
  display: block;
  width: 100%;
  max-width: 100px;
}
.cartImage__message {
  text-align: center;
  font-size: $legal;
  font-family: $bold;
  color: $mediumgrey;
}
// Component Modifiers

// End Cart Image Component
// *-----------------------------------------------

// *-----------------------------------------------
// Start Badge Component

.badge {
}
.badge__message {
  margin-left: $space-xsmall;
  display: inline-block;
  font-family: $bold;
}

// End Badge Component
// *-----------------------------------------------

// *-----------------------------------------------
// Start Tag Component

.tag {
  padding: $space-tiny $space-standard;
  display: inline-block;
  font-family: $bold;
}

// Component Modifiers
.tag--solid-success {
  border-radius: $border-radius-base;
  padding: 0 $space-tiny;
  background-color: $success;
  font-family: $bold;
  color: #fff;
}
.tag--solid-warning {
  border-radius: $border-radius-base;
  padding: 0 $space-tiny;
  background-color: $warning;
  font-family: $bold;
  color: #fff;
}
.tag--solid-danger {
  border-radius: $border-radius-base;
  padding: 0 $space-tiny;
  background-color: $danger;
  font-family: $bold;
  color: #fff;
}
.tag--outline-success {
  border-color: $success;
  border-width: 1px;
  border-style: solid;
  color: $success;
}
.tag__text--knockout {
  color: #fff;
}

// End Tag Component
// *-----------------------------------------------

// @TODO - Clean this shit up and do it right!!!!!
// Global Overrides

// This override is so the iFrame does not freakout when
// the input box is selected, had to remove the input 3px bottom on focus
.form-input__field {
  font-size: 16px !important;
}
.form-input__field:focus {
  border-bottom-width: 1px !important;
  font-size: 16px !important;
}
.drop-down__select {
  font-size: 16px !important;
}
@media (min-width: $screen-xs) {
  .form-input__field {
    font-size: 1.4rem !important;
  }
  .form-input__field:focus {
    border-bottom-width: 3px !important;
    font-size: 1.4rem !important;
  }
}

.padding-left-zero {
  padding-left: 0;
}
.padding_left-10 {
  padding-left: $space-standard;
}
.padding_left-40 {
  padding-left: $space-jumbo;
}
.padding-right-zero {
  padding-right: 0;
}
.padding_right-10 {
  padding-right: $space-standard;
}
.padding-bottom-zero {
  padding-bottom: 0;
}
.padding_bottom-10 {
  padding-bottom: $space-standard;
}
.padding-10 {
  padding: $space-standard;
}
.page__title {
  font-size: $large;
  font-family: $font-family-sans-light;
}
// Override for Certona
// #cart_rr .certona__productdescriptionwrapper, #atcmodal_rr .certona__productdescriptionwrapper,
// #cartempty_rr .certona__productdescriptionwrapper, #ma_atcmodal_rr .certona__productdescriptionwrapper{
//   height: 45px;
//   font-size: 1.3rem;
// }
@media (min-width: $screen-xs) {
  .page__title {
    font-size: $xlarge;
    font-family: $font-family-sans-light;
  }
}

.radio-btn__content-wrapper--inline {
  display: inline-block;
  margin-left: $space-normal;
  position: relative;
  top: 5px;
  margin-bottom: 0;
}

input:disabled {
  border-color: $light;
  color: $mediumgrey;
  background-color: $lightest;
}
.img__stretchy {
  width: 100%;
  height: auto;
}
.list--right {
  text-align: right;
}
.list__item--horz {
  display: inline-block;
  border-right: solid 1px #000;
  padding: 0;
  margin-right: 10px;
  padding-right: 10px;
  line-height: 15px;
}
.list__item--horz:last-child {
  border-right: none;
  margin-right: 0;
  padding-right: 0;
}
.set-store__wrapper {
  display: -webkit-box;
}
.nav-btns_wrapper a {
  text-decoration: none;
}

.accordion__label--link {
  color: $link-color;
  font-size: $font-size-base;
  padding-left: 0;
}
.accordion__label--link:before {
  content: '';
  width: 0;
  height: 0;
}

.price__subTotalTxt {
  margin-right: $space-standard;
  display: inline-block;
  font-family: $bold;
}
.price--inline {
  display: inline-block;
}

.table {
  border-collapse: collapse;
  width: 100%;
}

.table__row:nth-child(odd) {
  background-color: $faded;
}
.table__data {
  padding: $space-xsmall $space-normal;
  width: 50%;
}

// *-----------------------------------------------
// Start Cart Utility Classes

// @TODO add this to globals
// create a loop for this like the grid

// PUSH
.col__offset--1-12 {
  margin-left: 8.33333%;
}
.col__offset--2-12 {
  margin-left: 16.66667%;
}
.col__offset--3-12 {
  margin-left: 25%;
}
.col__offset--4-12 {
  margin-left: 33.33333%;
}
.col__offset--5-12 {
  margin-left: 41.66667%;
}
.col__offset--6-12 {
  margin-left: 50%;
}
.col__offset--7-12 {
  margin-left: 58.33333%;
}
.col__offset--8-12 {
  margin-left: 66.66667%;
}
.col__offset--9-12 {
  margin-left: 75%;
}
.col__offset--10-12 {
  margin-left: 83.33333%;
}
.col__offset--11-12 {
  margin-left: 91.66667%;
}

@media (min-width: $screen-xs) {
  .col__offset--1-12-xs {
    margin-left: 8.33333%;
  }
  .col__offset--2-12-xs {
    margin-left: 16.66667%;
  }
  .col__offset--3-12-xs {
    margin-left: 25%;
  }
  .col__offset--4-12-xs {
    margin-left: 33.33333%;
  }
  .col__offset--5-12-xs {
    margin-left: 41.66667%;
  }
  .col__offset--6-12-xs {
    margin-left: 50%;
  }
  .col__offset--7-12-xs {
    margin-left: 58.33333%;
  }
  .col__offset--8-12-xs {
    margin-left: 66.66667%;
  }
  .col__offset--9-12-xs {
    margin-left: 75%;
  }
  .col__offset--10-12-xs {
    margin-left: 83.33333%;
  }
  .col__offset--11-12-xs {
    margin-left: 91.66667%;
  }
}

// Start Application Utility Classes

.u__hideDesktop {
  display: none;
}
@media (min-width: $screen-xs) {
  .u__hideDesktop {
    display: none;
  }
}

.u__titleCase {
  text-transform: capitalize;
}

.rule {
  background-color: $light;
}
.rule--vertical {
  width: 1px;
  height: 100%;
  margin: 0 auto;
}
.u__bottom--xsmall {
  margin-bottom: $space-xsmall;
}
.u__bottom--standard {
  margin-bottom: $space-standard;
}
.u__bottom--small {
  margin-bottom: $space-small;
}
.u__bottom--large {
  margin-bottom: $space-large;
}
.u__bottom--normal {
  margin-bottom: $space-normal;
}

.u__top--xsmall {
  margin-top: $space-xsmall;
}

.u__top--small {
  margin-top: $space-small;
}

.u__top--standard {
  margin-top: $space-standard;
}

.u__flex--vCenter {
  @include build-flexbox(row no-wrap, center, center);
}
.u__flex--vMiddle {
  @include build-flexbox(row no-wrap, center, flex-start);
  min-height: 36px;
}

.u__flex--vRight {
  @include build-flexbox(row no-wrap, center, flex-end);
}

.u__border--top {
  border-top: solid 1px $light;
}

.u__border--left {
  border-left: solid 1px $light;
}

.u__border--top-dashed {
  background-image: linear-gradient(to right, $light 25%, rgba(255, 255, 255, 0) 0%);
  background-position: center;
  background-size: 10px 3px;
  background-repeat: repeat-x;
}

.u__img-stretchy {
  width: 100%;
  height: auto;
}
.u__truncate--title {
  overflow: hidden;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
}

.u__order {
  display: flex;
}
.u__order--1 {
  order: 1;
}
.u__order--2 {
  order: 2;
}
.u__order--3 {
  order: 3;
}
.u__order--4 {
  order: 4;
}
.u__order--5 {
  order: 5;
}
.u__order--6 {
  order: 6;
}
.u__order--7 {
  order: 7;
}
.u__order--8 {
  order: 8;
}
.u__order--9 {
  order: 9;
}
.u__order--10 {
  order: 10;
}

.u__right--xsmall {
  margin-right: $space-xsmall;
}
.u__right--small {
  margin-right: $space-small;
}
.u__right--standard {
  margin-right: $space-standard;
}
.u__right--normal {
  margin-right: $space-normal;
}
.u__right--large {
  margin-right: $space-large;
}
.u__right--xlarge {
  margin-right: $space-xlarge;
}
.u__right--jumbo {
  margin-right: $space-jumbo;
}
.u__m-sides--small {
  margin-left: $space-small;
  margin-right: $space-small;
}
.u__left--xsmall {
  margin-left: $space-xsmall;
}
.u__left--small {
  margin-left: $space-small;
}
.u__left--standard {
  margin-left: $space-standard;
}
.u__left--normal {
  margin-left: $space-normal;
}
.u__left--large {
  margin-left: $space-large;
}
.u__left--xlarge {
  margin-left: $space-xlarge;
}
.u__left--jumbo {
  margin-left: $space-jumbo;
}
.u__bottom--standard {
  margin-bottom: $space-standard;
}
.u__bottom--normal {
  margin-bottom: $space-normal;
}
.u__top--standard {
  margin-top: $space-standard;
}
.u__top--normal {
  margin-top: $space-normal;
}
.u__top--xlarge {
  margin-top: $space-xlarge;
}
.u__top--xsmall {
  padding-bottom: $space-xsmall;
}
.u__top--small {
  padding-bottom: $space-small;
}
.u__p-all--none {
  padding: 0;
}
.u__p-all--standard {
  padding: $space-standard;
}
.u__p-all--normal {
  padding: $space-normal;
}
.u__p-bottom--xsmall {
  padding-bottom: $space-xsmall;
}
.u__p-bottom--tiny {
  padding-bottom: $space-tiny;
}
.u__p-bottom--small {
  padding-bottom: $space-small;
}
.u__p-bottom--standard {
  padding-bottom: $space-standard;
}
.u__p-bottom--normal {
  padding-bottom: $space-normal;
}
.u__p-bottom--large {
  padding-bottom: $space-large;
}
.u__p-bottom--xlarge {
  padding-bottom: $space-xlarge;
}
.u__p-bottom--none {
  padding-bottom: 0;
}
.u__p-top--none {
  padding-top: 0;
}
.u__p-vertical--none {
  padding-top: 0;
  padding-bottom: 0;
}
.u__p-top--tiny {
  padding-top: $space-tiny;
}
.u__p-top--xsmall {
  padding-top: $space-xsmall;
}
.u__p-top--standard {
  padding-top: $space-standard;
}
.u__p-top--small {
  padding-top: $space-small;
}
.u__p-top--normal {
  padding-top: $space-normal;
}
.u__p-top--large {
  padding-top: $space-large;
}
.u__p-top--xlarge {
  padding-top: $space-xlarge;
}
.u__p-top--jumbo {
  padding-top: $space-jumbo;
}
.u__p-left--none {
  padding-left: 0;
}
.u__p-left--xsmall {
  padding-left: $space-xsmall;
}
.u__p-left--small {
  padding-left: $space-small;
}
.u__p-left--standard {
  padding-left: $space-standard;
}
.u__p-left--normal {
  padding-left: $space-normal;
}
.u__p-left--large {
  padding-left: $space-large;
}
.u__p-left--xlarge {
  padding-left: $space-xlarge;
}
.u__p-left--jumbo {
  padding-left: $space-jumbo;
}
.u__right--standard {
  margin-right: $space-standard;
}
.u__p-right--xlarge {
  padding-right: $space-xlarge;
}
.u__p-right--none {
  padding-right: 0;
}
.u__p-right--xsmall {
  padding-right: $space-xsmall;
}
.u__p-right--small {
  padding-right: $space-small;
}
.u__p-right--normal {
  padding-right: $space-normal;
}
.u__p-right--large {
  padding-right: $space-large;
}

.u__p-right--standard {
  padding-right: $space-standard;
}

.hdpp__text--center {
  text-align: center;
  margin-top: -30px;
  margin-left: 8px;
}
.list__item--marginleft {
  list-style-type: disc;
  margin-left: 15px;
}
.u__center {
  text-align: center;
}
.u__float--left {
  float: left;
}
.u__float--right {
  float: right;
}
.u__bg--white {
  background: #ffffff;
}
// End Cart Utility Classes
// *-----------------------------------------------

// Not sure what the below is @TODO
// Clean this up

.alphaPrompt-msg {
  line-height: 14px;
  font-family: serif;
  color: #665;
  font-size: 12px;
  margin-left: -5px;
  margin-right: 15px;
  font-weight: 700;
}
.alphaPrompt-msg-border {
  border: 1px solid #665;
  border-radius: 3px;
  margin-right: 10px;
  margin-top: 10px;
  margin-left: 10px;
  padding: 5px;
}

.configurableProductDetails-container {
  min-height: 600px;
  min-width: 800px;
}

.configurableProduct-overlay-p-medium {
  padding-right: 20px;
}

.bttn-checkout {
  padding: 0;
}

.bttn--view-cart-link {
  width: 80% !important;
  margin: auto !important;
}

.addToCart-overlay-align-center {
  align-items: center;
}

.addToCart-separator {
  border-bottom: solid 1px #ccc;
  margin-top: $space-normal;
  margin-bottom: $space-xlarge;
  width: 100%;
}

.footer-shipping--message {
  font-weight: bold;
  margin-right: $space-standard;
}
@media print {
  @include make-grid(xs);
}
.bttn-outline--primary .bttn__content {
  height: 36px;
}
.cart-checkout-secondary .cart-secondary-label {
  font-size: $medium;
}
.cart-mini-summary {
  text-align: right;
}
.summary-totals-pod {
  float: right;
}
.summary-promo-pod-appliances {
  max-width: 420px;
  width: 100%;
}
.summary-totals-pod {
  background-color: $reverse;
}
.summary-qa-pod {
  float: left;
  background-color: $reverse;
}
.rightRailWrapper {
  position: -webkit-sticky;
  position: -moz-sticky;
  position: -ms-sticky;
  position: -o-sticky;
  position: sticky;
  top: -312px;
}
.rr_summary--p-scaler {
  padding: 20px;
}
.rr_summary .accordion__label,
.rr_summary .accordion__item:last-of-type {
  border: none;
  padding: 0;
}
.rr_promo  {
  background: #fff;
  padding: 0;
  h3 {
    font-size: 1.9rem;
  }
  img {
    width: 100%;
    margin-top: 0px;
  }
  .promo-text {
    margin-top: 15px;
    line-height: 18px;
  }
}
.rr_promo_mobile {
  display: none;
}
#dtmTT {
  display: none;
}
@media (min-width: $screen-xs) {
  .toggleCertona {
    display: none;
  }
  .toggleCheckoutButton {
    display: block;
  }
}
@media (max-width: $screen-sm) {
  .rr_title {
    display: none
  }
  .summary-totals-pod,
  .summary-qa-pod {
    padding: 0;
  }
  .summary-qa-pod {
    background-color: $reverse;
  }
  .rr_summary {
    padding-top: 0;
    padding-bottom: 0;
  }
  .rr_summary--p-scaler {
    padding: 0 20px !important;
  }
  .toggleCertona {
    display: none;
  }
}

@media (min-width: $screen-md) {
  .rr_summary {
    display: inline-block;
  }
  .rr_summary--full-height {
    height: 100%;
    background: $faded;
  }
  .toggleCertona {
    display: block;
  }
  .toggleCheckoutButton {
    display: none;
  }

}
@media (max-width: $screen-md) {
  .cart-checkout-secondary {
    display: none;
  }
  .rr_promo {
    display: none;
  }

  .rr_promo_mobile {
    display: block;
    img {
      width: 100%;
      margin-top: 0px;
    }
  }

  .rr_summary--p-scaler {
    background: #fff;
    padding-right: 0;
  }
}

.cartpage-max-width {
  max-width: 1440px;
}

input:-webkit-autofill {
  -webkit-box-shadow: 0 0 0 30px white inset;
}

.u__truncate-text-two-lines {
  overflow: hidden;
  text-overflow: ellipsis;
  -ms-text-overflow: ellipsis;
  // white-space: nowrap;
  display: block;
  text-align: left;
  height: 35px;
}

/*--non web-kit browsers--*/

@-moz-document url-prefix() {
  .u__truncate-text {
    position: relative;
    height: 35px;
  }
  .u__truncate-text::after {
    letter-spacing: 0.1em;
    content: '...';
    position: absolute;
    bottom: 0;
    right: 0;
    padding: 0 10px 3px 5px;
    background: -moz-linear-gradient(to left, black 0%, white 0%);
    background: -o-linear-gradient(to left, black 0%, white 0%);
    background: -ms-linear-gradient(to left, black 0%, white 0%);
    background: linear-gradient(to left, black 0%, white 0%);
  }
}

/* Override for Certona Recommendations - similar to Recently viewed */
#cart_rr .certona__wrapper--withfill,
#cartempty_rr .certona__wrapper--withfill {
  background: none !important;
}

#cart_rr .certona__wrapper--withfill > div.col__12-12:first-child,
#cartempty_rr .certona__wrapper--withfill > div.col__12-12:first-child {
  border-bottom: 1px solid #999;
  padding: 0;
  margin: 0 10px;
}

#cart_rr span.certona__header,
#cartempty_rr span.certona__header {
  margin: 0;
  position: relative;
  display: block;
  padding: 0;
  text-align: left;
  font-size: 3rem;
  font-weight: 400;
  font-family: helvetica-neue-light,Helvetica Neue,Helvetica,Arial,sans-serif!important;
  border-bottom: 4px solid #f96302;
  float: left;
}

@media only screen and (min-width: $screen-sm) {
  #cart_rr span.certona__header,
  #cartempty_rr span.certona__header {
    font-size: 3.6rem;
  }
}

/* spacing for incontext button below checkout button */
.paypal-express-button {
  margin: 10px auto;
}

.cart-main-container{
  .alert-inline--info {
    color: $link-color;
  }
  .alert-inline--info:before {
    content: url(/mycart/assets/svg/info_white.svg);
  }
}

.cart-header-container {
  .alert {
    padding: 6px 12px;
    margin-top: 3px;
    font-size: 1.45rem;
  }
}

.background-success {
  background: $success;
}

/* Modal Classes */

.modal__body {
  width: 100%;

}

.modal__title {
  display: inline;
  border-bottom: 1px solid rgb(220, 220, 220);
  padding: 2rem 2rem 1.5rem 2rem !important;
}

.modal__close {
  cursor: pointer;
  float: right;
  padding: .5rem 0 0 .75rem;
  vertical-align: middle;
}

.modal__footer {
  border-top: 1px solid rgb(219, 219, 219);
  font-size: 2.3rem;
  font-weight: bold;
  padding: 2rem;
}

.row-header {
  margin: 25px 0 10px;
  border-bottom: 1px solid #999;
  padding: 0;
  position: relative;
}

.row-header__title {
  margin: 0;
  float: left;
  padding-bottom: 3px;
  margin-bottom: -3px;
}

.row-header__text {
  @media (max-width: $screen-xs) {
    font-size: 3rem;
  }
  font-size: $xlarge;
  font-family: helvetica-neue-light,Helvetica Neue,Helvetica,Arial,sans-serif!important;
  color: #333;
  border-bottom: 4px solid #f96302;
  padding: 0;
}

.row-display__flex {
  display: flex !important;
}

.column-display__flex {
  display: flex !important;
  flex-direction: column;
}

.dothemath-terms-icon{
  vertical-align: top;
  font-size: .1rem;
}

.dothemath-lead-text{
  font-size:2.8rem;
}

.price_estimator__card-img{
  max-width: 80px;
  min-width: 50px;
}

@media (max-width: 1279px) {
  .estimator_scaler__desktop{
    display: none;
  }
  .estimator_scaler__tablet {
    display: inline-block;
  }
}

@media (min-width: 1280px) {
  .estimator_scaler__desktop{
    display: inline-block;
  }
  .estimator_scaler__tablet {
    display: none;
  }
}

.cartItem, .listItem {
  .disable-action {
    opacity: 0.3;
    pointer-events: none;
  }
}

.faded-bgClr {
  background: $faded;
}

/** Cart Fulfillment Icons */
.delivery-true {
  background: url('/mycart/assets/svg/delivery-true-card.svg');
  background-repeat: no-repeat;
  width:15px;
  height:21px;
}

.pick-up-true {
  background: url('/mycart/assets/svg/pick-up-true-card.svg');
  background-repeat: no-repeat;
  width:12px;
  height:21px;
}

.express-true {
  background: url('/mycart/assets/svg/express-true-card.svg');
  background-repeat: no-repeat;
  width:30px;
  height:21px;
}

.express-true-bodfsmessage {
  background: url('/mycart/assets/svg/express-true-card.svg');
  background-repeat: no-repeat;
  transform: scale(1.8);
  transform-origin: top left;
}

.express-true-mobile-bodfsmessage {
  background: url('/mycart/assets/svg/express-true-card.svg');
  background-repeat: no-repeat;
  transform: scale(1.2);
  transform-origin: top left;
}

.delivery-false {
  background: url('/mycart/assets/svg/delivery-false-card.svg');
  background-repeat: no-repeat;
  width:15px;
  height:21px;
}

.pick-up-false {
  background: url('/mycart/assets/svg/pick-up-false-card.svg');
  background-repeat: no-repeat;
  width:12px;
  height:21px;
}

.express-false {
  background: url('/mycart/assets/svg/express-false-card.svg');
  background-repeat: no-repeat;
  width:30px;
  height:21px;
}

.express-shopping-cart {
  background: url('/mycart/assets/svg/express-shopping-cart.svg');
  background-repeat: no-repeat;
  width:25px;
  height:25px;
}

/** Cart Icons */

/* cart: instant checkout review overlay */
.cart-review-overlay {
  .delivery-true {
    width: 25px;
    height: 25px;
  }

  .dot {
    height: 6px;
    width: 6px;
    background-color: #000;
    border-radius: 50%;
    display: inline-block;
    margin: 0.16rem
  }

  .u__letter-spacing-xsmall {
    letter-spacing: 1px;
  }

  .no-item-image {
    zoom: 1.5;
    margin-top: 10px;
    margin-left: 5px;
  }

  .u__left--xclose {
    margin-left: -5px;
  }

  .cartItem__brandName {
    overflow: hidden;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    font-size: 1.4rem;
  }

  .centerImage {
    display: flex;
    height: 100%;
    align-items: center;
  }

  .u__sides--none {
    margin-left: 0;
    margin-right: 0;
  }

  .reviewCartImage {
    margin: 0 auto;
    display: block;
    max-height: 68px;
    max-width: 68px;
  }

  .cart-review-error {
    padding-bottom: 30px;
  }

  @media (max-width: $screen-xs) {
    .reviewCartImage {
      max-height: 60px;
      max-width: 60px;
    }

    .u__sticky {
      position: -webkit-sticky;
      position: -moz-sticky;
      position: -ms-sticky;
      position: -o-sticky;
      position: sticky;
      bottom: 0;
      background: #fff;
      box-shadow: 0px -5px 5px #ccc;
      border-top: 1px solid #ccc;
      z-index: 999;
    }

    .cart-review-error {
      padding-bottom: 20px;
    }
  }
}