@import '../../../../src/main/resources/static/node_modules/global-css/src/sass/components/_variables.scss';

@media (min-width: $screen-xs) {
  .promotion {
    margin-bottom: $space-small;
  }
}
.promotion__title {
  font-size: $medium;
  font-family: $bold;
  margin-bottom: $space-normal;
}
.promotion__code {
  color: $dark;
}

.promotion__content-wrapper,
.promotion__content-wrapper .accordion__content {
  padding: 0;
}

.accordion__label:hover {
  background: $reverse;
}
