.u__position-absolute {
  position: absolute;
}

.POJobNameDropdown {
  list-style-type: none;
  text-align: left;
  padding-left: 15px;
  padding-bottom: 20px;
  border: 1px solid grey;
  box-shadow: 0 0 0 1px rgba(0, 0, 0, 0.1), 0 2px 4px 1px rgba(0, 0, 0, 0.18);
  font-family: Arial, Helvetica, sans-serif;
  font-size: 14px;
}

.POJobNameDropdown li {
  padding-top: 10px;
  cursor: pointer;
}
