@import "../../../../src/main/resources/static/node_modules/global-css/src/sass/components/_variables.scss";

.SavedList__title {
  font-family: $bold;
  font-size: $font-size-base;
}

.SavedList__wrapper{
  border:3px solid #ccc;
}


.listItem{
padding-bottom:$space-standard;
padding-top:$space-standard;
border-bottom:$standard-border $light;
}


.listItem .sfl-fulfillment-options .alert-inline{
  min-height:24px
}
.listItem .list-actions-options{float:right}
.listItem .list__qtyInput{
  height: 35px;
  margin-top: 0px;
  text-align: center;
}

.u__p-top-bottom--off{
  padding-top:0;
  padding-bottom:0;
}

.padding-right-zero {
  padding-right: 0;
}

.padding-bottom-zero {
  padding-bottom: 0;
}
.listItem:last-child {
	border-bottom: 0;
}
.u__chevron::before {
	border-style: solid;
	border-width: 0.15em 0.15em 0 0;
	content: '';
	display: inline-block;
	height: 0.45em;
	left: 0.15em;
	position: relative;
	top: 0.45em;
	transform: rotate(-45deg);
	vertical-align: top;
	width: 0.45em;
}
.u__chevron.bottom:before {
	top: 0.15em;
	transform: rotate(135deg);
}
