.hideShareCartForm_block-header__border {
  margin: 10px 0;
  border-top: 1px solid #999;
  width: 9.6em;
}

.showShareCartForm_block-header__border {
  margin: 10px 0;
  border-top: 1px solid #999;
  width: 12.9em;
}

.shareCartSection {
  background: #EEE;
  display:block;
}

.shareCartModal {
  width: 400px;
}

.shareCartModal__header-text {
  vertical-align: middle;
  font-size: 14px;
}