.symbol {
    display: inline-block;
    position: relative;
    margin-right: 5px
}

.symbol-info {
    background: url("/mycart/assets/svg/info.svg") no-repeat;
    top: 4px;
    height: 17px;
    width: 17px;
}
.symbol-info-blue:before {
    content: '';
    background-image: url(/mycart/assets/svg/info_blue.svg);
    background-repeat: no-repeat;
    padding: 1px 10px;
}

.symbol-info--input {
    top: 10px;
    position: absolute;
}

.symbol-ship {
    background: url("/mycart/assets/images/ship.svg") no-repeat;
    top: 4px;
    height: 17px;
    width: 17px;
}