@import '../../../../src/main/resources/static/node_modules/global-css/src/sass/components/_variables';

.cartTotals {
  border-bottom: solid 1px $light;
}
@media (min-width: $screen-xs) {
  .cartTotals {
    border-bottom: solid 1px $light;
    padding: $space-standard 0;
  }
}

.vpp_totals {
  height: 18px;
  width: 37px;
  font-size: 12px;
  border-radius: 2px;
  padding: 1px 6px;
  background-color: #00873c;
  color: #ffffff;
  text-align: center;
  cursor: default;
}

.vpp_tooltip_left {
  z-index: 999;
}
 .vpp_tooltip_left:hover .vpp_tooltip_text {
  visibility: visible;
  opacity: 1;
  position: absolute;
  z-index: 999;
}

 .vpp_tooltip_left .vpp_tooltip_text {
  box-shadow: 0 0 3px rgba(0, 0, 0, 0.25), 0 5px 10px rgba(0, 0, 0, 0.25);
  visibility: hidden;
  width: 270px;
  height: 63px;
  background-color: #fff;
  text-align: center;
  padding: 5px 0;
  border-radius: 1px;
  border: 0px;
   /* Position the tooltip text */
  position: absolute;
  z-index: 999;
  top: -35px;
  left: -305px;
   /* Fade in tooltip */
  opacity: 0;
  transition: opacity 0.3s;
  text-align: left;
  padding-right:10px;
  padding-top: 10px;
  padding-bottom: 15px;
  padding-left: 10px;
  /*Font size*/
  font-size:14px;
  line-height: 1.5;
  color: #262626;
}

 .vpp_tooltip_left .vpp_tooltip_text:after, .vpp_tooltip_left .vpp_tooltip_text:before {
	left: 100%;
	top: 50%;
	border: solid transparent;
	content: " ";
	height: 0;
	width: 0;
	position: absolute;
	pointer-events: none;
}
 .vpp_tooltip_left .vpp_tooltip_text:after {
	border-color: rgba(255, 255, 255, 0);
	border-left-color: #ffffff;
	border-width: 9px;
	margin-top: -9px;
}
.vpp_tooltip_left .vpp_tooltip_text:before {
	border-color: rgba(85, 85, 85, 0);
	border-left-color: #555;
	border-width: 9px;
	margin-top: -9px;
}

.vpp_tooltip_right {
  z-index: 999;
}
 .vpp_tooltip_right:hover .vpp_tooltip_text {
  visibility: visible;
  opacity: 1;
  position: absolute;
  z-index: 999;
}

 .vpp_tooltip_right .vpp_tooltip_text {
  box-shadow: 0 0 3px rgba(0, 0, 0, 0.25), 0 5px 10px rgba(0, 0, 0, 0.25);
  visibility: hidden;
  width: 235px;
  height: 84px;
  background-color: #fff;
  text-align: left;
  padding: 5px 0;
  border-radius: 1px;
  border: 0px;
   /* Position the tooltip text */
  position: absolute;
  z-index: 999;
  top: -30px;
  left: 50px;
   /* Fade in tooltip */
  opacity: 0;
  transition: opacity 0.3s;
  padding-top: 10px;
  padding-bottom: 15px;
  padding-left: 10px;
  /*Font size*/
  font-size:14px;
  line-height: 1.5;
  color: #262626;
}

 .vpp_tooltip_right .vpp_tooltip_text:after, .vpp_tooltip_right .vpp_tooltip_text:before {
	right: 100%;
	top: 50%;
	border: solid transparent;
	content: " ";
	height: 0;
	width: 0;
	position: absolute;
	pointer-events: none;
}
 .vpp_tooltip_right .vpp_tooltip_text:after {
	border-color: rgba(255, 255, 255, 0);
	border-right-color: #ffffff;
	border-width: 9px;
	margin-top: -9px;
}
.vpp_tooltip_right .vpp_tooltip_text:before {
	border-color: rgba(85, 85, 85, 0);
	border-right-color: #555;
	border-width: 9px;
	margin-top: -9px;
}

