doctype html

html
  head
    meta(charset='UTF-8')
    meta(name='viewport' content='width=device-width', initial-scale='1')
    title mccloud react
    link(rel='stylesheet' type='text/css' href='/css/main.css')
  body
    #root
  script(src=env === 'prod' ? 'js/cart.bundle.js' : '/js/cart.bundle.js')
